h1 {
  color: rgb(30, 114, 210);
  font-family: verdana;
  font-size: 230%;
}
p {
  color: red;
  font-family: courier;
  font-size: 160%;
}

body{
    background-color: rgb(0, 0, 0);
    
}

label{
    color:chocolate;
    font-size: 120%;
}

.center-block {
            width: 50%; 
            margin: 0 auto; /* Centra horizontalmente */
            border: 1px solid #000;
            padding: 20px;
            text-align: center;
}
